@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: transparent;
}

/* Smooth scrolling for custom scrollable areas */
.custom-scrollbar {
  scroll-behavior: smooth;
}

@layer base {
  .font-custom {
    font-family: var(--font-custom);
  }
  * {
    font-family: inherit;
  }
}
